<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Welcome to Nodejs</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="/static/test.js"></script>
</head>

<body>
    <div id="summary">
        <h1>It worked!</h1>
        <h2>Congratulations on your first nodejs-powered page.</h2>
    </div>

    <div id="instructions">
        <p>
            Of course, you haven't actually done any work yet.</code>.
        </p>
    </div>

    <div id="explanation">
        <p>
            You're seeing this message. Get to work!
        </p>
    </div>

    <script type="text/javascript">
        a321();
    </script>
</body>

</html>