
<form class="layui-form">
  <div class="layui-form-item">
    <label class="layui-form-label">Id</label>
    <div class="layui-input-block">
      <input type="text" id="connName" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">Left</label>
    <div class="layui-input-block">
      <input type="text" id="connLeft" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">Right</label>
    <div class="layui-input-block">
      <input type="text" id="connRight" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">IKE</label>
    <div class="layui-input-block">
      <input type="text" value="ikev2" id="connKeyExchange" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">Esp</label>
    <div class="layui-input-block">
      <input type="text" id="connEsp" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>
</form>